*{
  font-size: 20px;
}
#field{
  position: relative;
  width: 200px;
  height: 400px;
  margin: auto;
  margin-top: 2em;
  border-radius: 0.2rem;
}
.piece{
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #4f4f4f;
  border-width: 2px;
  border-color: #4f4f4f;
  padding: 2px;
  transition: all 0.3s;
}